<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @thing.name %>
</p>

<p>
  <strong>Given:</strong>
  <%= @thing.given %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @thing.user.username, @thing.user %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) if can? :manage, @thing%> |
<%= link_to 'Back', things_path if can? :manage, @thing %>
