<!DOCTYPE html>
<html>
<head>
  <title>Freemarket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="width: 800px; margin: 20px auto;">
<% if notice %>
    <div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert %>
    <div class="alert alert-error"><%= alert %></div>
<% end %>
<%= link_to 'Home', root_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'Things', things_path %>
<div style="float: right;">
  <%= link_to 'Profile', edit_user_path(current_user) if user_signed_in?%>
  <%= link_to 'Sign In', new_user_session_path if !user_signed_in?%>
  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete if user_signed_in?%>
</div>
<div style="padding-top: 60px;">
<%= yield %>
</div>
</body>
</html>
